<div class="form">


        <div id="login">
          <h1>Let s Run!</h1>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <div class="field-wrap">
            <label>
              Email<span class="req">*</span>
            </label>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
        </div>
        <div class="field-wrap">

          <p class="forgot"><a href="#">Forgot Password?</a></p>

          <button class="button button-block"/>Log In</button>

        </div>
      </div><!-- tab-content -->
    <% end %>
    </div> <!-- /form -->

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="<%= asset_path('login.js')%>"></script>



